<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console direct="true" name="console">
            <PatternLayout pattern="[%d{DEFAULT}] [%level] [%logger{1}] [%class{1.}] %msg%n" />
        </Console>
        <OpenTelemetry name="otel"/>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console" level="warn"/>
            <AppenderRef ref="otel" level="all"/>
        </Root>
    </Loggers>
</Configuration>
