<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{DEFAULT}] [%level] [%logger{1}] [%class{1.}] %msg%n" />
        </Console>
        <OpenTelemetry name="OpenTelemetryAppender"/>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" level="warn"/>
            <AppenderRef ref="OpenTelemetryAppender" level="All"/>
        </Root>
    </Loggers>
</Configuration>
